

body{
    margin: 20px 50px;
}
.nav-container{
    font-family: "Mulish", sans-serif;
}

.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}




#lo{
    color: #FF5400;
  font-size: 50px;
  
}
.nav-title{
    font-size: 36px;
    font-weight: 800px;
    font-family: "Mulish", sans-serif;
}

.nav-title::before{
    content:"";
   background-image: url('download.png');
}
.komola{
    color:#FF5400;
}
.nav-box2 {
    display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  
  
}

.nav-box2 a{
    text-decoration: none;
   padding: 10px 30px;
  font-size: 18px;
  color: black;
}
.nav-box2 a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
}

/*-------------------hader section--------------------*/

.hader-main{
   
    
    border: 2px solid red;
    width:1170px;
    height: 500px;
    justify-content: center;
    margin:auto;
    padding: 122px auto;
    background-image: url('B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 5px;


    
 
    
}
.hader-content{
    text-align: center;
    margin: auto;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
  
  

   
   

}
.main-title{
    font-size: 64px;
    font-weight: 800px;
    font-family: "Mulish", sans-serif;
   
   

}
.main-decption{
    font-size: 18px;
    font-weight: 400px;
    line-height: 26px;
}


.input-fild{

   
   
   
    display: flex;
    flex-direction:row;
    gap: 20px;
    justify-content: center;
   
   }

.input-main{
    margin: auto;
  
    display: flex;
    width:auto;
    height: 50px;
   
    padding: 20px;
    flex-direction: column;
    background-color: #ffffffa2;
    border-radius: 5px;
}

#text{
  
    border-radius: 10px;
    width: 255px;
    padding: 10px 80px 10px 10px;
    font-size: 20px;
    
}







.ja{
    border-radius: 10px;
 width: 255px;
    border: none;
  padding: 10px 20px;
    font-size: 15px;
    background-color: #FF5400;
    color: white;
}

.j{
    border-radius: 10px;
width: 255px;


padding: 10px 00px 10px 0px;
font-size: 20px;
  
}

/*------------------------main section----------------------------*/

.fast-section{
    display: flex;
    flex-direction: row;
    gap: 53px;
    margin: 50px auto;
    justify-content: center;
}
.fast-title{
    font-size: 40px;
    font-family: "Mulish", sans-serif;
}
.fast-decption{
    font-size: 16px;
    line-height: 26px;
    font-family: "Mulish", sans-serif;
}

.fast-contect{
    width: auto;
}

.fast-button{
    color: white;
    font-size: 20px;
    padding: 14px 35px;
    background-color:  #FF5400;
    border: none;
    border-radius: 8px;
}

/*--------------------------- 2nd section--------*/

.conte{
    text-align: center;
}



.box1{
    grid-area:box1;
    width: 500px;
    height: 300px;
    border: 2px solid #FF5400;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-position:center;
}
.box2{
    grid-area:box2;
    width: 573px;
    height: 300px;
    border: 2px solid #FF5400;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 8\ \(1\).png');
}
.box3{
    grid-area:box3;
    border: 2px solid #FF5400;
    width: 374px;
    height: 286px;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 6.png');
}
.box4{
    grid-area:box4;
    border: 2px solid #FF5400;
    width: 574px;
    height: 286px;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 10.png');
}
.box5{
    grid-area:box5;
    border: 2px solid #FF5400;
    width: 274px;
    height: 286px;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 9.png');
}
.box6{
    grid-area:box6;
  
   
    height: 300px;
    background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
 width: 500px;
   
}
.box7{
    grid-area:box7;
  
    width: 673px;
    height: 300px;
       background-image: url('B9A2-Hero-Travel/Images/Rectangle\ 10.png');
}




.img-container{
    display: grid;
    grid-template-areas:
    'box1  box1 box2 box2  box2  box2'
    'box3  box4 box4   box4   box5  box5'
    'box6  box7 box7   box7   box7  box7';
    margin: auto;
  justify-content: center;
  width:auto;

  gap: 24px;

    
  }
  
  
  
/****----------------Choose-----------*/















.card{
    display: flex;
    margin:20px auto;
    justify-content: center;
    flex-direction: row;
    gap: 20px;

    
}
.card1{
  text-align:left;
    width: 573px;
    height: 284px;
 
    padding: 32px;
    border-radius: 10px;
    background-color: aliceblue;
 
}
.ti{
    font-size: 24px;
    font-weight: 800px;
    font-family: "Mulish", sans-serif;
}
.card2{
    text-align:left;
    width: 573px;
    height: 284px;
  
    padding: 32px;
    border-radius: 10px;
    background-color: aliceblue;
  
        }

.card3{
    text-align:left;
   width: 573px;
   height: 284px;
 
   padding: 32px;
   border-radius: 10px;
   background-color: aliceblue;
                         
}



/*--------------------------------racponsive-----------*/
@media screen and (max-width:600px) {



    body{
        margin: auto;
    }

    .main-nav{
    display: flex;
    flex-direction:column;
    justify-content:center;

}
.input-fild{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    display: flex;

  width: auto;
    
    }

.input-main{
          width:auto;
    height:auto;
        

}

.hader-main{
    width: 100%;
    height: auto;
}

.main-decptio{
    font-size: 14px;
    line-height: 21px;
}

.main-title{
    font-size: 24px;
    font-weight: 800px;
 
  
  
}


.fast-section{
 width:100%;
    flex-direction:column;
    gap: 53px;
    margin: 50px auto;
    justify-content: center;
}

.fast-contect{
    width:100%;
}


.fast-img img{
    width: 100%;
}

.card{
    flex-direction: column;
    text-align: center;
}


}